
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
*.egg-info/
.installed.cfg
*.egg

*.sqlite3
db.sqlite3
db.sqlite3-journal


.env
.venv
env.pyd3
.python-version

/static/
/media/
/staticfiles/


.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp


postgres_data/
pgdata/