django
django-environ
psycopg2-binary
djangorestframework
django-cors-headers
djangorestframework-simplejwt

google-auth
google-auth-httplib2
google-auth-oauthlib

pyotp==2.9.0
qrcode==7.4.2
pillow==10.2.0  

black
isort
flake8

django-storages
boto3
pypdf
python-docx


celery==5.3.6
redis==5.0.1
langchain-google-genai
langchain-text-splitters
pinecone-client
flower
